/* ===========================
      03.SERVICES css 
=========================== */

.single_services {
  border: 2px dashed #E8E8E8;
  border-radius: 10px;
  padding: 50px 25px;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .single_services {
    padding: 25px 15px;
  }
}

.single_services .services_icon {
  position: relative;
  display: inline-block;
}

.single_services .services_icon i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 52px;
  color: #38424D;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.single_services .services_icon .services_shape {
  fill: #fff1f1;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.single_services .services_content {
  margin-top: 40px;
}

.single_services .services_content .services_title a {
  font-size: 28px;
  color: #38424D;
  font-weight: 600;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .single_services .services_content .services_title a {
    font-size: 22px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .single_services .services_content .services_title a {
    font-size: 24px;
  }
}

@media (max-width: 767px) {
  .single_services .services_content .services_title a {
    font-size: 20px;
  }
}

.single_services .services_content .services_title a:hover {
  color: #F94F4F;
}

.single_services .services_content p {
  margin-top: 15px;
}

.single_services.active, .single_services:hover {
  border-color: #F94F4F;
  -webkit-box-shadow: 0px 10px 15px 0px rgba(157, 106, 106, 0.15);
  -moz-box-shadow: 0px 10px 15px 0px rgba(157, 106, 106, 0.15);
  box-shadow: 0px 10px 15px 0px rgba(157, 106, 106, 0.15);
}

.single_services.active .services_icon i, .single_services:hover .services_icon i {
  color: #fff;
}

.single_services.active .services_icon .services_shape, .single_services:hover .services_icon .services_shape {
  fill: #F94F4F;
}


/* ===========================
        05.WORK css 
=========================== */

.work_area {
  background-color: #FBFBFF;
}

.single_work {
  -webkit-box-shadow: 0px 3px 27px 0px rgba(157, 106, 106, 0.1);
  -moz-box-shadow: 0px 3px 27px 0px rgba(157, 106, 106, 0.1);
  box-shadow: 0px 3px 27px 0px rgba(157, 106, 106, 0.1);
  border-radius: 10px;
  overflow: hidden;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #fff;
}

.single_work .work_image img {
  width: 100%;
}

.single_work .work_content {
  padding: 30px;
  position: relative;
}

.single_work .work_content .arrow {
  width: 45px;
  height: 45px;
  line-height: 45px;
  border-radius: 50%;
  font-size: 18px;
  color: #38424D;
  text-align: center;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(157, 106, 106, 0.16);
  -moz-box-shadow: 0px 3px 6px 0px rgba(157, 106, 106, 0.16);
  box-shadow: 0px 3px 6px 0px rgba(157, 106, 106, 0.16);
  position: absolute;
  top: -22px;
  right: 30px;
  background-color: #fff;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.single_work .work_content .arrow:hover {
  background-color: #F94F4F;
  color: #fff;
}

.single_work .work_content .work_title a {
  font-size: 28px;
  font-weight: 600;
  color: #38424D;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .single_work .work_content .work_title a {
    font-size: 22px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .single_work .work_content .work_title a {
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  .single_work .work_content .work_title a {
    font-size: 20px;
  }
}

.single_work .work_content .work_title a:hover {
  color: #F94F4F;
}

.single_work .work_content p {
  margin-top: 8px;
}

.slick-current .single_work .work_content .arrow {
  background-color: #F94F4F;
  color: #fff;
}

.work_active .slick-dots {
  width: 100%;
  text-align: center;
}

.work_active .slick-dots li {
  display: inline-block;
  margin: 0 7px;
}

.work_active .slick-dots li button {
  font-size: 0;
  padding: 0;
  border: 0;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: rgba(249, 79, 79, 0.25);
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.work_active .slick-dots li.slick-active button {
  background-color: #F94F4F;
}
