<!--====== SERVICES PART START ======-->
<section #services class="services_area mt-10">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section_title text-center pb-25">
                    <h1 class="sub_title">{{article.title}}</h1>
                    <h3 class="main_title">{{article.subTitle}}</h3>
                </div> <!-- section title -->
            </div>
        </div> <!-- row -->
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div (click)="articleViewText(0)" class="single_services text-center mt-30 wow fadeIn" data-wow-duration="0.5s"
                    data-wow-delay="0.5s">
                    <div class="services_icon">
                        <i class="">
                        <svg-icons 
                        svgWidth="90%"
                        svgHeight="90%"
                        [svgClass]="iconClass0"
                        [svgIcon]="icon0"
                        >
                        </svg-icons>
                        <!-- <svg class="theme-line-9" width="80%">
                            <use xlink:href="/static/icons/gcx_sprite/gcx-sprite.svg#color-palette-1"></use>
                        </svg> -->

                        </i>
                        <svg xmlns="http://www.w3.org/2000/svg" width="94" height="92" viewBox="0 0 94 92">
                            <path class="services_shape" id="Polygon_12" data-name="Polygon 12"
                                d="M42.212,2.315a11,11,0,0,1,9.576,0l28.138,13.6a11,11,0,0,1,5.938,7.465L92.83,54.018A11,11,0,0,1,90.717,63.3L71.22,87.842A11,11,0,0,1,62.607,92H31.393a11,11,0,0,1-8.613-4.158L3.283,63.3A11,11,0,0,1,1.17,54.018L8.136,23.383a11,11,0,0,1,5.938-7.465Z" />
                        </svg>
                    </div>
                    <div class="services_content">
                        <h3 #articletitle0 class="services_title"></h3>
                        <p #exerpt0></p>
                    </div>
                </div> <!-- single services -->
            </div>
            <div class="col-lg-4 col-sm-6">
                <div (click)="articleViewText(1)" class="single_services text-center mt-30 wow fadeIn" data-wow-duration="0.5s"
                    data-wow-delay="0.5s">
                    <div class="services_icon">
                        <i class="">
                            <svg-icons svgWidth="90%" svgHeight="90%" 
                            [svgClass]="iconClass1" 
                            [svgIcon]="icon1">
                            </svg-icons>
                            <!-- <svg class="theme-line-9" width="80%">
                                                    <use xlink:href="/static/icons/gcx_sprite/gcx-sprite.svg#color-palette-1"></use>
                                                </svg> -->
                        
                        </i>
                        <svg xmlns="http://www.w3.org/2000/svg" width="94" height="92" viewBox="0 0 94 92">
                            <path class="services_shape" id="Polygon_12" data-name="Polygon 12"
                                d="M42.212,2.315a11,11,0,0,1,9.576,0l28.138,13.6a11,11,0,0,1,5.938,7.465L92.83,54.018A11,11,0,0,1,90.717,63.3L71.22,87.842A11,11,0,0,1,62.607,92H31.393a11,11,0,0,1-8.613-4.158L3.283,63.3A11,11,0,0,1,1.17,54.018L8.136,23.383a11,11,0,0,1,5.938-7.465Z" />
                        </svg>
                    </div>
                    <div class="services_content">
                        <h3 #articletitle1 class="services_title"></h3>
                        <p #exerpt1></p>
                    </div>
                </div> <!-- single services -->
            </div>
            <div class="col-lg-4 col-sm-6">
                <div (click)="articleViewText(2)" class="single_services text-center mt-30 wow fadeIn" data-wow-duration="0.5s"
                    data-wow-delay="0.5s">
                    <div class="services_icon">
                        <i class="">
                            <svg-icons svgWidth="90%" svgHeight="90%" 
                            [svgClass]="iconClass2"
                            [svgIcon]="icon2">
                            </svg-icons>
                            <!-- <svg class="theme-line-9" width="80%">
                                                    <use xlink:href="/static/icons/gcx_sprite/gcx-sprite.svg#color-palette-1"></use>
                                                </svg> -->
                        
                        </i>
                        <svg xmlns="http://www.w3.org/2000/svg" width="94" height="92" viewBox="0 0 94 92">
                            <path class="services_shape" id="Polygon_12" data-name="Polygon 12"
                                d="M42.212,2.315a11,11,0,0,1,9.576,0l28.138,13.6a11,11,0,0,1,5.938,7.465L92.83,54.018A11,11,0,0,1,90.717,63.3L71.22,87.842A11,11,0,0,1,62.607,92H31.393a11,11,0,0,1-8.613-4.158L3.283,63.3A11,11,0,0,1,1.17,54.018L8.136,23.383a11,11,0,0,1,5.938-7.465Z" />
                        </svg>
                    </div>
                    <div class="services_content">
                        <h3 #articletitle2 class="services_title"></h3>
                        <p #exerpt2></p>
                    </div>
                </div> <!-- single services -->
            </div>

        </div> <!-- row -->
    </div> <!-- container -->
</section>

<!--====== WORK PART START ======-->

<section class="work_area pt-50">
    <div id="work" class="container-fluid  wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s">
        <div class="row work_active">
            <div *ngFor="let i of article.products" class="col-lg-3">
                <div class="single_work">
                    <div class="work_image">
                        <img [src]="i.image" alt="work">
                    </div>
                    <div class="work_content">
                        <a [href]="i.affilateLink" class="arrow"><i class="lni lni-chevron-right"></i></a>
                        <h4 class="work_title">
                            <a href="#">{{i.title}}</a>
                        </h4>
                        <p>{{i.subTitle}}</p>
                    </div>
                </div> <!-- single work -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>

<!--====== WORK PART ENDS ======-->

<!-- Articles -->
<section #articleview class="pt-2">
    <story
        [(article)]="art"
        [article-events]="articleEvents"
        [(photos)]="photos"
        [(photoAlt)]="photoAlt"
        [(title)]="titleArt"
        [(author)]="author"
        [(date)]="date"
    >
    </story>
</section>

<section hidden>
    <div #article1>
    </div>
    <div #article2>
    </div>
    <div #article3>
    </div>
</section>