<section class="article-clean">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
                <div class="intro">
                    <h1 class="text-capitalize text-center"><strong>{{title}}</strong></h1>
                    <h5 class="text-capitalize text-center">{{subtitle}}<br /></h5>
                    <p *ngIf="mainphoto.isNotEmpty" class="text-center"><span class="by">by</span><a href="#">{{author}}</a><span
                            class="date">{{date}}</span></p>
                            <img #photomain class="img-fluid border rounded-0"/>
                </div>
                    <div #articletext class="text">
                    </div>
            </div>
        </div>
    </div>
</section>
